# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Configuration
config.json
*.local

# IDEs
.vscode/
.idea/

# PyInstaller / Packaging
*.manifest
*.spec

# Nuitka
main.build/
main.dist/
*.exe

# OS
Thumbs.db
Desktop.ini
